<%= render partial: "shared/errors" %>

<%= form_for @meal_plan do |form| %>
  <%= form.hidden_field :start_date %>
  <%= form.hidden_field :end_date %>

  <div class="meals">
    <%= form.fields_for :meals do |meal_fields| %>
      <%= meal_fields.hidden_field :id %>
      <%= meal_fields.hidden_field :date %>
      <p><%= meal_fields.object.date.to_s %></p>
      <div class="form-control">
        <%= meal_fields.label :recipe_id %>
        <%= meal_fields.select :recipe_id, current_user.recipe_options %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
